name: Builders 
# on: [push, pull_request]
on: pull_request
env:
  DOCKER_CLI_EXPERIMENTAL: 'enabled'
  # PUBLISH: ${{ (github.ref == 'refs/heads/main' && github.event_name != 'pull_request') && '--publish' || '' }}
jobs:
  # arm64-builders:
  #   runs-on: buildjet-4vcpu-ubuntu-2204-arm
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: jericop/buildpacks-github-actions/setup-pack@add-arm64-support
  #       with:
  #         pack-version: 0.30.0-pre1
  #     - uses: jericop/buildpacks-github-actions/setup-tools@add-arm64-support
  #     - name: Create arm64 Builders
  #       run: |
  #         #!/usr/bin/env bash -euo pipefail
  #         cd jammy
  #         set -x
  #         image_name="ttl.sh/${{ github.repository }}/$(cat /proc/sys/kernel/random/uuid)"
  #     - if: ${{ github.ref == 'refs/heads/main' && github.event_name != 'pull_request' }}
  #       uses: docker/login-action@v2
  #       with:
  #         registry: ghcr.io
  #         username: ${{ github.actor }}
  #         password: ${{ secrets.GHCR_TOKEN }}
  #     - name: Create arm64 Builders
  #       run: |
  #         #!/usr/bin/env bash -euo pipefail
  #         cd jammy
  #         set -x

  #         # Publishing with pack will set the platform to linux/amd64 even though the runner is arm64,
  #         # so the builders will be published with buildx to ensure platform is linux/arm64.
  #         for tag in stack target latest; do
  #           image_tag="ghcr.io/jericop/builder-jammy:${tag}-arm64"

  #           pack builder create "${image_tag}" --config "builder-${tag}.toml"

  #           if [ ! -z "$PUBLISH" ]; then
  #             echo "Builder Image Architecture (set by pack)"
  #             docker image inspect "${image_tag}" | jq .[0].Architecture
              
  #             echo "FROM ${image_tag}" > Dockerfile
  #             docker buildx build --platform linux/arm64 -t "${image_tag}" --push .

  #             # Remove local version so we can inspect architecture from the registry
  #             docker image rm "${image_tag}"
  #             docker pull "${image_tag}"
  #           fi

  #           echo "Builder Image Architecture"
  #           docker image inspect "${image_tag}" | jq .[0].Architecture

  #           pack builder inspect "${image_tag}"
  #         done
  amd64-and-multi-arch-builders:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: jericop/buildpacks-github-actions/setup-pack@add-arm64-support
        with:
          pack-version: 0.30.0-pre1
      - id: ttl-sh-uri
        uses: ./.github/actions/ttl-sh-image-uri
      - id: create-builders
        uses: ./.github/actions/create-arch-builders
        with:
          folder: 'jammy'
          base-image-uri: ${{ steps.ttl-sh-uri.outputs.uri }}
    
      # - uses: actions/checkout@v3
      
      # - uses: jericop/buildpacks-github-actions/setup-tools@add-arm64-support
      # - uses: docker/login-action@v2
      #   with:
      #     registry: ghcr.io
      #     username: ${{ github.actor }}
      #     password: ${{ secrets.GHCR_TOKEN }}
      # - name: Create amd64 Builders
      #   run: |
      #     #!/usr/bin/env bash -euo pipefail
      #     cd jammy
      #     set -x
      #     for tag in stack target latest; do
      #       image_tag="ghcr.io/jericop/builder-jammy:${tag}-amd64"
      #       pack builder create "${image_tag}" --config "builder-${tag}.toml" ${{ env.PUBLISH }}
      #       pack builder inspect "${image_tag}"
      #     done
      # - name: Create multi-arch builders
      #   run: |
      #     #!/usr/bin/env bash -euo pipefail
      #     set -x
      #     for tag in stack target latest; do
      #       image_tag="ghcr.io/jericop/builder-jammy:${tag}"
      #       docker buildx imagetools create -t "${image_tag}" "${image_tag}-arm64" "${image_tag}-amd64" --dry-run
      #       if [ ! -z "$PUBLISH" ]; then
      #         docker buildx imagetools create -t "${image_tag}" "${image_tag}-arm64" "${image_tag}-amd64"
      #         docker buildx imagetools inspect "${image_tag}"
      #       fi
      #     done
      # # Test multi-arch builders from amd64
      # - if: ${{ github.ref == 'refs/heads/main' && github.event_name != 'pull_request' }}
      #   uses: ./.github/actions/multi-arch-builder-test
  # arm64-multi-arch-builder-test:
  #   if: ${{ github.ref == 'refs/heads/main' && github.event_name != 'pull_request' }}
  #   needs: amd64-and-multi-arch-builders
  #   runs-on: buildjet-4vcpu-ubuntu-2204-arm
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: jericop/buildpacks-github-actions/setup-pack@add-arm64-support
  #       with:
  #         pack-version: 0.30.0-pre1
  #     - uses: jericop/buildpacks-github-actions/setup-tools@add-arm64-support
  #     # Test multi-arch builders from arm64
  #     - uses: ./.github/actions/multi-arch-builder-test
