name: jammy build and test
on: pull_request
env:
  DOCKER_CLI_EXPERIMENTAL: 'enabled'
jobs:
  # Use un-authenticated ephemeral registry image uri for testing
  ttl-sh:
    runs-on: ubuntu-22.04
    outputs:
      uri: ${{ steps.image-uri.outputs.uri }}
    steps:
      - id: image-uri
        run: echo "uri=ttl.sh/${{ github.repository }}/$(cat /proc/sys/kernel/random/uuid)" >> $GITHUB_OUTPUT

  create-arch-builders-matrix:
    strategy:
      matrix:
        os: [ubuntu-22.04, buildjet-4vcpu-ubuntu-2204-arm]
    runs-on: ${{ matrix.os }}
    needs: ttl-sh
    outputs:
      tags: ${{ steps.create-arch-builders.outputs.tags}}
    steps:
      - uses: actions/checkout@v3
      - uses: jericop/buildpacks-github-actions/setup-pack@add-arm64-support
        with:
          pack-version: 0.30.0-pre1
      - id: create-arch-builders
        uses: ./.github/actions/create-arch-builders
        with:
          folder: 'jammy'
          base-image-uri: ${{ needs.ttl-sh.outputs.uri }}

  create-multi-arch-builders:
    runs-on: ubuntu-22.04
    needs: [ttl-sh, create-arch-builders-matrix]
    steps:
      - uses: actions/checkout@v3
      - uses: jericop/buildpacks-github-actions/setup-pack@add-arm64-support
        with:
          pack-version: 0.30.0-pre1
      - uses: ./.github/actions/create-multi-arch-builders
        with:
          tags: ${{ needs.create-arch-builders-matrix.outputs.tags }}
          base-image-uri: ${{ needs.ttl-sh.outputs.uri }}

  test-multi-arch-builders:
    strategy:
      matrix:
        os: [ubuntu-22.04, buildjet-4vcpu-ubuntu-2204-arm]
    runs-on: ${{ matrix.os }}
    needs: [ttl-sh, create-arch-builders-matrix, create-multi-arch-builders]
    steps:
      - uses: actions/checkout@v3
      - uses: jericop/buildpacks-github-actions/setup-pack@add-arm64-support
        with:
          pack-version: 0.30.0-pre1
      - uses: jericop/buildpacks-github-actions/setup-tools@add-arm64-support
      - id: create-builders
        uses: ./.github/actions/test-multi-arch-builders
        with:
          tags: ${{ needs.create-arch-builders-matrix.outputs.tags }}
          base-image-uri: ${{ needs.ttl-sh.outputs.uri }}